/* Style par défaut pour les petits écrans (mobile-first) */

/* Style pour la navbar */
.navbar {
  padding: 1rem;
  background-color: #082BCB;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-toggler-icon {
  background-color: #fff;
}

.navbar-nav {
  display: block; /* Par défaut pour les petits écrans */
}

.form-control {
  border-radius: 50px;
}

/* Style pour le champ de recherche */
input.form-control {
  border-radius: 50px;
  padding-left: 2rem;
  box-shadow: none;
}

input.form-control::placeholder {
  color: #6c757d;
}

input.form-control:focus {
  box-shadow: none;
}

.form-control + span {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.btn-custom {
  background-color: transparent;
  border-color: white;
  color: white;
  border-radius: 50px;
}

.btn-custom:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

.btn-danger {
  background-color: transparent;
  border-color: red;
  border-radius: 50px;
}

.btn-danger:hover {
  background-color: red;
  border-color: red;
}

/* Style pour le texte de bienvenue */
span {
  color: #fff;
  margin-right: 1rem;
}
 h1{
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
 }
/* Style pour les cartes */
.card {
  width: 100%; /* 100% de la largeur du conteneur pour les petits écrans */
  height: auto; /* Hauteur automatique pour une meilleure flexibilité */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 50px;
}

.card .backgroundEffect {
  bottom: 0;
  height: 0;
  width: 100%;
}

.card:hover {
  color: #fff;
  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}

.card:hover .backgroundEffect {
  bottom: 0;
  height: 320px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: #082BCB;
  animation: popBackground 0.3s ease-in;
}

@keyframes popBackground {
  0% {
    height: 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  50% {
    height: 80px;
    border-top-left-radius: 75%;
    border-top-right-radius: 75%;
  }
  75% {
    height: 160px;
    border-top-left-radius: 85%;
    border-top-right-radius: 85%;
  }
  100% {
    height: 320px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
  }
}

.card .pic {
  position: relative;
}

.card .pic img {
  width: 100%;
  height: auto; /* Hauteur automatique pour une meilleure flexibilité */
  object-fit: cover;
}

.card .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 70px;
  background-color: #082BCB;
  color: white;
  position: absolute;
  bottom: 0;
  transition: all ease;
}


.card .text-muted {
  font-size: 12px;
}

.card:hover .text-muted {
  color: #fff !important;
}

.card .content {
  padding: 0 15px; /* Réduit le padding pour les petits écrans */
}

.card .content .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: #082BCB;
  border-radius: 25px;
  font-size: 12px;
  border: none;
}

.card:hover .content .btn {
  background: #fff;
  color: #082BCB;
  box-shadow: #0000001a 0px 3px 5px;
}

.card .content .btn .fas {
  font-size: 10px;
  padding-left: 5px;
}

.card .content .foot .admin {
  color: #082BCB;
  font-size: 12px;
}

.card:hover .content  .admin {
  color: #fff;
}

.card .content .foot .icon {
  font-size: 12px;
}
/* Assurez-vous que la classe admin n'a pas de marge par défaut */
.admin {
  color: #082BCB;
  font-size: 12px;
  margin: 0; /* Supprimer les marges par défaut */
}

.btn {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.fixed-footer {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 90%;
}




/* Media Queries pour les écrans plus larges */
@media (min-width: 768px) {
  .navbar-nav {
    display: flex; /* Pour les écrans moyens (tablettes) et plus grands */
  }
}

@media (min-width: 992px) {
  .navbar-nav {
    display: flex; /* Pour les écrans larges (ordinateurs) */
  }
  
  .card {
    width: 280px; /* Largeur fixe pour les grands écrans */
  }
}
