<nav class="navbar navbar-expand-lg navbar-dark shadow">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i> <!-- Icône du menu hamburger -->
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <form class="d-flex ms-2 me-auto my-2 my-lg-0">
        <div class="input-group">
          <input 
            type="text" 
            class="form-control rounded-pill border-0 bg-light shadow-none px-5" 
            placeholder=" Rechercher..." 
            aria-label="Search ..."
            [(ngModel)]="searchTerm" 
            (input)="onSearch()"
            name="searchTerm"
          >
          <span class="input-group-text bg-light border-0 rounded-end">
            <i class="fas fa-search text-muted"></i> <!-- Icône de recherche -->
          </span>
        </div>
      </form>
      <div class="navbar-nav mx-auto">
        <span class="text-white d-none d-lg-block mx-3">Bienvenue, {{ userName }}!</span>
      </div>
      <div class="navbar-nav">
        <button class="btn btn-custom mb-2 mb-lg-0" (click)="goToForm()">Ajouter un article</button>
        <button class="btn btn-danger ms-2" (click)="logout()">
          <i class="fas fa-power-off"></i>
        </button>
        
      </div>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <h1>Liste des articles</h1>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div *ngFor="let article of filteredArticles | paginate: { itemsPerPage: 3, currentPage: p }" class="col-lg-4 mb-4">
          <div class="card border-0 h-100">
            <div class="backgroundEffect"></div>
            <div class="pic">
              <img [src]="article.image_path" alt="{{ article.title }}" class="img-fluid">
              <div class="date">
                <p style="margin: 10px; text-align: center;">{{ formatDate(article.created_at) }}</p>
              </div>
            </div>
            <div class="content d-flex flex-column">
              <h4 class="h-1 mt-4">{{ article.title }}</h4>
              <p class="text-muted mt-3">{{ getExcerpt(article.body) }}</p>
              <div class="mt-auto d-flex align-items-center justify-content-between pb-3 my-2 fixed-footer">
                <div class="btn btn-primary d-flex justify-content-center align-items-center" (click)="goToDetails(article.id)">
                  <i class="fas fa-eye" style="font-size: 25px; margin-right: 5px;"></i> <!-- Icône d'œil -->
                </div>
                <div class="d-flex align-items-center">
                  <p class="admin mb-0">Auteur: {{ article.user?.name }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
         <!-- Contrôles de pagination -->
         <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
  
</div>
