<div>
    <h2>{{ isEditMode ? 'Edit Article' : 'Add New Article' }}</h2>
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
      <label>Title:</label>
      <input formControlName="title" />
      <div *ngIf="articleForm.get('title')?.invalid && (articleForm.get('title')?.touched || articleForm.get('title')?.dirty)">
        Title is required and should be at least 5 characters long.
      </div>
  
      <label>Body:</label>
      <textarea formControlName="body"></textarea>
      <div *ngIf="articleForm.get('body')?.invalid && (articleForm.get('body')?.touched || articleForm.get('body')?.dirty)">
        Body is required and should be at least 10 characters long.
      </div>
  
      <button type="submit">{{ isEditMode ? 'Update' : 'Create' }}</button>
    </form>
  </div>
  