/* You can add global styles to this file, and also import other style files */

body {
   
    font: 600 16px/18px 'Open Sans', sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }